[Plex]
url = http://plex:32400
token = ACCESS_TOKEN
username = bearlikelion
password = password
server = plex.arneman.home

[Tautulli]
url = http://plexpy
apikey = API_KEY
timerange = 7
count = 10

[Collections]
movies = Most Popular Movies
tv = Most Popular TV
limit = 10

[Libraries]
movies = Movies
tv = TV Shows